HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
target/classes/lotto/Application.class
target/classes/lotto/Lotto.class
target/classes/lotto/domain/GenerateNumbers.class
target/classes/lotto/domain/Rank.class
target/classes/lotto/domain/User.class
target/classes/lotto/domain/winConfirmation.class
target/classes/META-INF/MANIFEST.MF
target/classes/META-INF/maven/java-lotto/java-lotto/pom.properties
target/classes/META-INF/maven/java-lotto/java-lotto/pom.xml
target/test-classes/lotto/ApplicationTest.class
target/test-classes/lotto/LottoTest.class
/target/
